################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductAPI/.vs
/ProductAPI/ProductAPI/bin/Debug/netcoreapp2.0
/ProductAPI/ProductAPI/obj
